{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "static": "./static",
          "underscore": "lodash",
          "~": "./src"
        },
        "extensions": [
          ".js",
          ".jsx",
          ".es",
          ".es6",
          ".svg",
          ".css",
          ".sass"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
